<nav class="shadow bg-accent">
  <div class="flex items-center justify-between py-3">
    <!-- mobile -->
    <a
      routerLink="/"
      class="block text-2xl font-bold tracking-tighter no-underline cursor-pointer text-body md:hidden"
    >
      <span class="text-danger-100">P</span> N
    </a>

    <!-- desktop -->
    <a
      routerLink="/"
      class="hidden text-3xl font-bold no-underline cursor-pointer text-body md:block mx-10"
    >
      <span class="text-danger-500">Prop</span>
      Ninja
    </a>

    <ul class="mr-5 items-center justify-between py-3 nav">
        <li>Play</li>
        <li>About us</li>
    </ul>

    <div>
      <a
        [routerLink]="['/', path.SignIn]"
        class="mr-3 rounded-lg btn btn-neutral "
      >
        Sign in
      </a>
      <a [routerLink]="['/', path.SignUp]" class="rounded-lg btn btn-primary">
        Sign up
      </a>
    </div>
  </div>
</nav>

<div class="h-full pattern">
  <div class="container flex items-center justify-center h-full">
    
  </div>
</div>
