
<nav class="shadow bg-accent">
  <div class="flex items-center justify-between py-3">
    <!-- mobile -->
    <a
      routerLink="/"
      class="block text-2xl font-bold tracking-tighter no-underline cursor-pointer text-body md:hidden"
    >
      <span class="text-danger-100">P</span> N
    </a>

    <!-- desktop -->
    <a
      routerLink="/"
      class="hidden text-3xl font-bold no-underline cursor-pointer text-body md:block mx-10"
    >
      <span class="text-danger-500">Prop</span>
      Ninja
    </a>

     <mat-list class="list-horizontal">
      <a class="mat-list-option btn" [routerLink]="['/', path.Play]" mat-list-item >Play</a>
      <a class="mat-list-option btn" mat-list-item >About Us</a>
      <!-- <a class="mat-list-option btn" mat-list-item ><fa-icon [icon]="faCoffee"></fa-icon></a> -->
    </mat-list> 


    <!-- <div>
      <a
        [routerLink]="['/', path.SignIn]"
        class="mr-3 rounded-lg btn btn-neutral "
      >
        Sign in
      </a>
      <a [routerLink]="['/', path.SignUp]" class="rounded-lg btn btn-primary">
        Sign up
      </a>
    </div> -->
  </div>
</nav>

<div class="h-full pattern">
  <div class="container flex justify-center h-full">
    <div class="hero-image"></div>
    <div class="hero-text">
      <h1>Welcome!</h1>      
      <button [routerLink]="['/', path.Play]" class="btn btn-success btn-lg">Play</button>
    </div>
    <div class="flexbox_card">
      
    </div>
  </div>
</div>
